
/*-------------------    INICIO     MENU          -------------------------------------------------------------------------------*/
#menu  a:focus {
    font-weight: bold;
    border-radius: 5px;
    
}

#menu  a:active {
    font-weight: bold;
    border-radius: 5px;
}
.nav-item a{
    font-size: large;
}
/*-------------------      INICIO   BIOGRAFIA          -------------------------------------------------------------------------------*/

.biografia{
    padding-top: 60px;
}

.fotoBio{
    max-height:500px;
    margin: auto;
    display: block;
}
.textoBio{
    padding-top: 25px;
}

/*---------------------    INICIO     descricao          -----------------------------------------------------------------------------*/

.descricao{
    padding: 50px 0px;
}

/*-----------------------     INICIO    interesses          --------------------------------------------------------*/

.interesses{
    padding: 50px 0px;
}

.carousel-item{
    border-radius: 100px;
    
}

.carousel-item img{
    border-radius: 100px;
    background-color: #2B3035;
}

.fotosCa img{
    height: 500px;
}

/*-----------------------     INICIO    jogos          --------------------------------------------------------*/

.jogos{
    padding: 0px 40px;
}
.trailerJogo{
    margin: auto;
    width: 70%;
}
.card p{
    text-align: justify;
}
/*-----------------------     INICIO    RODAPE          --------------------------------------------------------*/

footer ul li p{
    margin: auto;
}
footer a:focus{
    font-weight: bold;
}
.direitos{
    margin: 30px 0px;
}
